*{
    font-family: 'Candal', arial;
    font-weight: bolder;
} 

body{
    margin: 0;
}

.head{
    display: flex;
    flex-direction: column;
}

.headerselect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

#logopic{
    margin-bottom: 40%;
}


#header-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.headerpic{
    display: flex
}

#test{
    background-color: black;
}

a {
    outline: none;
    text-decoration: none;
   }
   
   
   
   a{
    color: black;
   }
   
  #logoheader{
    color: #F98C9B;
  }

  

#headertext{
color: #2D3330;
}   

#headerdiv:hover #logoheader{
    color: #2D3330;
}

#headerdiv:hover #headertext{
    color: #F98C9B;
}

.backgroundheader{
width: 100%;
height: 650px;
}

.headerbgtext{
    position: absolute;
    top: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

h1{
    font-size: 3em;
}

h2{
font-size: 2em;
}

.searchbar{
    background-color: #F98C9B;
 margin-top: -0.3%;
}

#searchbarinput{
    border: none;
    background-color:#2d333000;
    font-size: x-large;
    margin-left: 10%;
    padding: 0.4%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#searchbarinput::placeholder{
    color: white;
    opacity: 0.4;
    width: 14em;
}



.mainh2{
    color: #1E3E52;
    display: flex;
    justify-content: center;
    border: dashed 1px;
    border-bottom: none;
    font-size: 1.8em;
    padding: 3%;
    padding-top: 2%;
}


.solucepoint{
    display: flex;
flex-direction: row;
justify-content: space-around;
margin-bottom: 5%;
}

.soluce1{
    margin-top: 5%;
    display: flex;
flex-direction: column;
align-items: center;
color: #F98C9B;
padding: 1%;
}



h3{
    margin-bottom: 0;
}

#desc{
    font-size: small;
    color: #808491;
    
}

#desc2{
    color: #F98C9B;
    font-size: x-large;
}

.soluce{
    margin: 4%;
}

.solucepoint2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-3xl {
    font-size: 3em;
    line-height: 1em;
}


footer {
    background-color: #213e4e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0px 200px 0px;
    font-weight: 600;
}

a:link {
    text-decoration: none;
    font-size: 2em 80%;
}

footer a {
    color: white;
}

#bottom {
    margin-bottom: 1em;
}

@media (max-width:960px) {
    footer {
        margin: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .headerselect{
    flex-direction: column;
    }
    
    #headerpic{
        margin-bottom: 4%;
    }

    #headerdiv{
        margin-bottom: 5%;
    }

    .headerbgtext{
        top: 50em;
        line-height: 500%;
    }

    #searchbarinput{
        margin-left: 10%;
        padding: 3%;
    }

    .searchbar{
        display: flex;
        margin-top: -0.6%;
    }

    .solucepoint{
        flex-direction: column;
    }

    .solucepoint2{
        flex-direction: column;
    }

    .mainh2{
      padding: 3%;  
    }

    #desc{
        font-size: 1.1em;
    }

    .soluce1{
        margin-bottom: 10%;
    }

    .pagein{
        margin: 5%;
    }

    #desc2{
        margin-top: 4% ;
        
    }

    .fa-3xl {
        font-size: 5em;
        line-height: 1em;
}
}

