@import url('https://fr.allfont.net/allfont.css?fonts=candal');
@import url('https://fonts.cdnfonts.com/css/open-sans');

/* ABOUT ALL THE PAGE */

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* ABOUT THE CENTER OF THE PAGE */

h2{
    font-family: 'Candal';
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    font-size: 1.8em;
}

.contacts{
    width: 60%;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.maps{
    opacity: 0.5;
    max-width: 100%;
}

.maps:hover{
    opacity: 1;
}

/* ABOUT FOOTER */

footer{
    background-color: #213e4e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0px 200px 0px;
    font-weight: 600;
}

a:link {
    text-decoration: none;
    font-size: 2em 80%;
}

a{
    color: white;
}

/* ABOUT THE RESPONSIVE */

@media (max-width: 960px) {
    footer{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}